button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	background: $color__background-button;
	color: white;
	@include font-size(1);
	line-height: 1;
	padding: 12px 15px 8px;

	&:hover {
		background: $color__link;
	}

	&:active,
	&:focus {
		background: $color__link-visited;
	}
}