$color__background-body: #fff;
$color__background-screen: #eee; // lightest grey
$color__background-hr: #08556A; // Dark blue
$color__background-button: #92D050; // light green
$color__button-hover: #08556A; // Dark Blue
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #3D3D3D; // darkest grey
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #008AAF; //light blue
$color__link-visited: #08556A; // dark blue
$color__link-hover: #92D050; // light green
$color__text-main: #3D3D3D; // darkest grey



// no border colors
$color__border-button: transparent;
$color__border-button-hover:transparent;
$color__border-button-focus: transparent;
$color__border-input: #909090;
$color__border-abbr: transparent;
