
/*----------  Utility Menu  ----------*/

.utility-navigation {
	background: $color__background-hr;
	display: block;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		float: right;
	
		li {
			display: inline-block;
		
			a {
				color: white;
				display: inline-block;
				padding: 10px 15px;
				width: auto;

				&:hover, &:focus {
					color: $color__link-hover;
				}
			}
		}
	}
}


/*----------  Main Menu  ----------*/

.main-navigation {

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			border: 1px solid $color__border-input;
			background: white;
			float: left;
			position: absolute;
			top: 79px;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
				padding: 15px;
				border-bottom: 1px solid $color__border-input;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: inline-block;
		width: auto;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 30px 15px 25px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.current-menu-item a{
	font-weight: 600;
	color: $color__link-hover;
}


/*----------  Toggle Menu  ----------*/

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/*----------  Side Menu  ----------*/

.side-menu {
	ul {
		margin-left: -15px;
	}
	
	li {
		border-left: 4px solid $color__link;
		padding-left: 15px;
		display: block;
	}

	li.current-menu-item {
		border-color: $color__background-button;
	}
	
	a {
		padding: 15px 0;
		display: block;
	}
}