/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

/*==============================
=            Header            =
==============================*/

header.site-header {
	border-bottom: 1px solid $color__border-input;
	display: block;

	h1 {
		float: left;
		max-width: 250px;
		margin: 0;
		padding-top: 10px;
	}
}


/*=====  End of Header  ======*/
